@import "tailwindcss";

:root {
  /* Brand Colors */
  --background: #0A0F1C;
  /* Navy/Black */
  --foreground: #ffffff;

  --primary: #FF4500;
  /* Flame Orange */
  --secondary: #FF0080;
  /* Neon Rose/Pink to add feminine high-energy vibe */

  --font-inter: var(--font-inter);
  --font-oswald: var(--font-oswald);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --font-sans: var(--font-inter);
  --font-sport: var(--font-oswald);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-inter), sans-serif;
  }
}